Repository SSUMC-6th/WEB_A, pull requests merged in 2024-05, with the labels that each got.

#22 Ssol/3week
  .DS_Store
  1week/.DS_Store
  2week/.DS_Store
  3week/.DS_Store
  3week/movie/.eslintrc.cjs
  3week/movie/.gitignore
  3week/movie/README.md
  3week/movie/index.html
  3week/movie/package.json
  3week/movie/pnpm-lock.yaml
  3week/movie/public/vite.svg
  3week/movie/src/App.css
  3week/movie/src/App.jsx
  3week/movie/src/assets/react.svg
  3week/movie/src/components/ footer/footer.jsx
  3week/movie/src/components/ footer/footer.style.js
  3week/movie/src/components/MovieData/MovieDataFetcher.jsx
  3week/movie/src/components/MovieData/MovieDataFetcher.style.js
  3week/movie/src/components/banner/banner.jsx
  3week/movie/src/components/banner/banner.style.js
  3week/movie/src/components/nav/nav.jsx
  3week/movie/src/components/nav/nav.style.js
  3week/movie/src/index.css
  3week/movie/src/main.jsx
  3week/movie/src/pages/MainPage/MainPage.jsx
  3week/movie/src/pages/MainPage/MainPage.style.js
  3week/movie/src/pages/NowPlayingPage/NowPlayingPage.jsx
  3week/movie/src/pages/NowPlayingPage/NowPlayingPage.style.js
  3week/movie/src/pages/PopularPage/PopularPage.jsx
  3week/movie/src/pages/PopularPage/PopularPage.style.js
  3week/movie/src/pages/TopRatedPage/TopRatedPage.jsx
  3week/movie/src/pages/TopRatedPage/TopRatedPage.style.js
  3week/movie/src/pages/UpComing/UpComing.jsx
  3week/movie/src/pages/UpComing/UpComing.style.js
  3week/movie/src/styles/GlobalStyle.js
  3week/movie/vite.config.js
Labels: 3 week

#24 Umi/4week
  .DS_Store
  umi-4week/.DS_Store
  umi-4week/TMDB-site/.eslintrc.cjs
  umi-4week/TMDB-site/.gitignore
  umi-4week/TMDB-site/README.md
  umi-4week/TMDB-site/index.html
  umi-4week/TMDB-site/package.json
  umi-4week/TMDB-site/pnpm-lock.yaml
  umi-4week/TMDB-site/src/App.css
  umi-4week/TMDB-site/src/App.jsx
  umi-4week/TMDB-site/src/assets/rolling.gif
  umi-4week/TMDB-site/src/assets/star.png
  umi-4week/TMDB-site/src/components/Footer.jsx
  umi-4week/TMDB-site/src/components/Loading.jsx
  umi-4week/TMDB-site/src/components/Navbar.jsx
  umi-4week/TMDB-site/src/components/PosterItem.jsx
  umi-4week/TMDB-site/src/components/TmdbData.jsx
  umi-4week/TMDB-site/src/index.css
  umi-4week/TMDB-site/src/main.jsx
  umi-4week/TMDB-site/src/pages/ErrorPage.jsx
  umi-4week/TMDB-site/src/pages/MainPage.jsx
  umi-4week/TMDB-site/src/pages/MovieDetailPage.jsx
  umi-4week/TMDB-site/src/pages/NowPlayingPage.jsx
  umi-4week/TMDB-site/src/pages/PopularPage.jsx
  umi-4week/TMDB-site/src/pages/TopRatedPage.jsx
  umi-4week/TMDB-site/src/pages/UpComing.jsx
  umi-4week/TMDB-site/vite.config.js
Labels: 4 week

#26 Yeon dong/4week
  yeon-dong-4week/UMC-Movie/.eslintrc.cjs
  yeon-dong-4week/UMC-Movie/.gitignore
  yeon-dong-4week/UMC-Movie/README.md
  yeon-dong-4week/UMC-Movie/index.html
  yeon-dong-4week/UMC-Movie/package.json
  yeon-dong-4week/UMC-Movie/pnpm-lock.yaml
  yeon-dong-4week/UMC-Movie/public/vite.svg
  yeon-dong-4week/UMC-Movie/src/App.css
  yeon-dong-4week/UMC-Movie/src/App.jsx
  yeon-dong-4week/UMC-Movie/src/assets/react.svg
  yeon-dong-4week/UMC-Movie/src/components/Header/Header.jsx
  yeon-dong-4week/UMC-Movie/src/components/Header/Header.style.js
  yeon-dong-4week/UMC-Movie/src/components/LoadingSpinner/LoadingSpinner.jsx
  yeon-dong-4week/UMC-Movie/src/components/LoadingSpinner/LoadingSpinner.style.js
  yeon-dong-4week/UMC-Movie/src/components/MovieCard/MovieCard.jsx
  yeon-dong-4week/UMC-Movie/src/components/MovieCard/MovieCard.style.js
  yeon-dong-4week/UMC-Movie/src/index.css
  yeon-dong-4week/UMC-Movie/src/main.jsx
  yeon-dong-4week/UMC-Movie/src/pages/MainPage/MainPage.jsx
  yeon-dong-4week/UMC-Movie/src/pages/MainPage/MainPage.style.js
  yeon-dong-4week/UMC-Movie/src/pages/MovieDetailPage/MovieDetailPage.jsx
  yeon-dong-4week/UMC-Movie/src/pages/NotFoundPage/NotFoundPage.jsx
  yeon-dong-4week/UMC-Movie/src/pages/NotFoundPage/NotFoundPage.style.js
  yeon-dong-4week/UMC-Movie/src/pages/NowPlayingPage/NowPlayingPage.jsx
  yeon-dong-4week/UMC-Movie/src/pages/NowPlayingPage/NowPlayingPage.style.js
  yeon-dong-4week/UMC-Movie/src/pages/PopularPage/PopularPage.jsx
  yeon-dong-4week/UMC-Movie/src/pages/PopularPage/PopularPage.style.js
  yeon-dong-4week/UMC-Movie/src/pages/TopRatedPage/TopRatedPage.jsx
  yeon-dong-4week/UMC-Movie/src/pages/TopRatedPage/TopRatedPage.style.js
  yeon-dong-4week/UMC-Movie/src/pages/UpComingPage/UpComingPage.jsx
  yeon-dong-4week/UMC-Movie/src/pages/UpComingPage/UpComingPage.style.js
  yeon-dong-4week/UMC-Movie/src/reset.css
  yeon-dong-4week/UMC-Movie/vite.config.js
Labels: 4 week

#25 practice : 4주차 실습
  .DS_Store
  3week/.DS_Store
  4week/.DS_Store
  4week/movie/.eslintrc.cjs
  4week/movie/.gitignore
  4week/movie/README.md
  4week/movie/index.html
  4week/movie/package.json
  4week/movie/pnpm-lock.yaml
  4week/movie/public/vite.svg
  4week/movie/src/App.css
  4week/movie/src/App.jsx
  4week/movie/src/assets/react.svg
  4week/movie/src/components/ footer/footer.jsx
  4week/movie/src/components/ footer/footer.style.js
  4week/movie/src/components/MovieData/MovieDataFetcher.jsx
  4week/movie/src/components/MovieData/MovieDataFetcher.style.js
  4week/movie/src/components/banner/banner.jsx
  4week/movie/src/components/banner/banner.style.js
  4week/movie/src/components/nav/nav.jsx
  4week/movie/src/components/nav/nav.style.js
  4week/movie/src/components/notfound/notFound.jsx
  4week/movie/src/components/notfound/notFound.style.js
  4week/movie/src/index.css
  4week/movie/src/main.jsx
  4week/movie/src/pages/MainPage/MainPage.jsx
  4week/movie/src/pages/MainPage/MainPage.style.js
  4week/movie/src/pages/Moviedetail/MovieDetail.jsx
  4week/movie/src/pages/Moviedetail/MovieDetail.style.js
  4week/movie/src/pages/NowPlayingPage/NowPlayingPage.jsx
  4week/movie/src/pages/NowPlayingPage/NowPlayingPage.style.js
  4week/movie/src/pages/PopularPage/PopularPage.jsx
  4week/movie/src/pages/PopularPage/PopularPage.style.js
  4week/movie/src/pages/TopRatedPage/TopRatedPage.jsx
  4week/movie/src/pages/TopRatedPage/TopRatedPage.style.js
  4week/movie/src/pages/UpComing/UpComing.jsx
  4week/movie/src/pages/UpComing/UpComing.style.js
  4week/movie/src/styles/GlobalStyle.js
  4week/movie/vite.config.js
Labels: 4 week

#31 Yeon dong/4week
  yeon-dong-4week/UMC-Movie/src/components/Header/Header.jsx
  yeon-dong-4week/UMC-Movie/src/pages/MovieDetailPage/MovieDetailPage.jsx
  yeon-dong-4week/UMC-Movie/src/pages/MovieDetailPage/MovieDetailPage.style.js
Labels: 4 week

#30 Umi/5week
  .DS_Store
  umi-5week/.DS_Store
  umi-5week/TMDB-site/.eslintrc.cjs
  umi-5week/TMDB-site/.gitignore
  umi-5week/TMDB-site/README.md
  umi-5week/TMDB-site/index.html
  umi-5week/TMDB-site/package.json
  umi-5week/TMDB-site/pnpm-lock.yaml
  umi-5week/TMDB-site/src/App.css
  umi-5week/TMDB-site/src/App.jsx
  umi-5week/TMDB-site/src/assets/rolling.gif
  umi-5week/TMDB-site/src/assets/star.png
  umi-5week/TMDB-site/src/components/Footer.jsx
  umi-5week/TMDB-site/src/components/Loading.jsx
  umi-5week/TMDB-site/src/components/Navbar.jsx
  umi-5week/TMDB-site/src/components/PosterItem.jsx
  umi-5week/TMDB-site/src/components/TmdbData.jsx
  umi-5week/TMDB-site/src/index.css
  umi-5week/TMDB-site/src/main.jsx
  umi-5week/TMDB-site/src/pages/ErrorPage.jsx
  umi-5week/TMDB-site/src/pages/LogInPage.jsx
  umi-5week/TMDB-site/src/pages/MainPage.jsx
  umi-5week/TMDB-site/src/pages/MovieDetailPage.jsx
  umi-5week/TMDB-site/src/pages/NowPlayingPage.jsx
  umi-5week/TMDB-site/src/pages/PopularPage.jsx
  umi-5week/TMDB-site/src/pages/SignUpPage.jsx
  umi-5week/TMDB-site/src/pages/TopRatedPage.jsx
  umi-5week/TMDB-site/src/pages/UpComing.jsx
  umi-5week/TMDB-site/vite.config.js
Labels: 5 week

#28 Ssol/5week
  .DS_Store
  5week/.DS_Store
  5week/movie/.eslintrc.cjs
  5week/movie/.gitignore
  5week/movie/README.md
  5week/movie/index.html
  5week/movie/package.json
  5week/movie/pnpm-lock.yaml
  5week/movie/public/vite.svg
  5week/movie/src/App.css
  5week/movie/src/App.jsx
  5week/movie/src/assets/react.svg
  5week/movie/src/components/ footer/footer.jsx
  5week/movie/src/components/ footer/footer.style.js
  5week/movie/src/components/MovieData/MovieDataFetcher.jsx
  5week/movie/src/components/MovieData/MovieDataFetcher.style.js
  5week/movie/src/components/Search/Search.jsx
  5week/movie/src/components/Search/Search.style.js
  5week/movie/src/components/banner/banner.jsx
  5week/movie/src/components/banner/banner.style.js
  5week/movie/src/components/nav/nav.jsx
  5week/movie/src/components/nav/nav.style.js
  5week/movie/src/components/notfound/notFound.jsx
  5week/movie/src/components/notfound/notFound.style.js
  5week/movie/src/index.css
  5week/movie/src/main.jsx
  5week/movie/src/pages/MainPage/MainPage.jsx
  5week/movie/src/pages/MainPage/MainPage.style.js
  5week/movie/src/pages/Moviedetail/MovieDetail.jsx
  5week/movie/src/pages/Moviedetail/MovieDetail.style.js
  5week/movie/src/pages/NowPlayingPage/NowPlayingPage.jsx
  5week/movie/src/pages/NowPlayingPage/NowPlayingPage.style.js
  5week/movie/src/pages/PopularPage/PopularPage.jsx
  5week/movie/src/pages/PopularPage/PopularPage.style.js
  5week/movie/src/pages/SignUpPage/SignUp.jsx
  5week/movie/src/pages/SignUpPage/SignUp.style.js
  5week/movie/src/pages/TopRatedPage/TopRatedPage.jsx
  5week/movie/src/pages/TopRatedPage/TopRatedPage.style.js
  5week/movie/src/pages/UpComing/UpComing.jsx
  5week/movie/src/pages/UpComing/UpComing.style.js
  5week/movie/src/styles/GlobalStyle.js
  5week/movie/vite.config.js
Labels: 5 week

#36 Yeon dong/6week
  yeon-dong-5week/UMC-Movie/.vite/deps/_metadata.json
  yeon-dong-5week/UMC-Movie/.vite/deps/package.json
  yeon-dong-6week/UMC-Movie/.eslintrc.cjs
  yeon-dong-6week/UMC-Movie/.gitignore
  yeon-dong-6week/UMC-Movie/README.md
  yeon-dong-6week/UMC-Movie/index.html
  yeon-dong-6week/UMC-Movie/package.json
  yeon-dong-6week/UMC-Movie/pnpm-lock.yaml
  yeon-dong-6week/UMC-Movie/public/vite.svg
  yeon-dong-6week/UMC-Movie/src/App.css
  yeon-dong-6week/UMC-Movie/src/App.jsx
  yeon-dong-6week/UMC-Movie/src/assets/react.svg
  yeon-dong-6week/UMC-Movie/src/components/Header/Header.jsx
  yeon-dong-6week/UMC-Movie/src/components/Header/Header.style.js
  yeon-dong-6week/UMC-Movie/src/components/LoadingSpinner/LoadingSpinner.jsx
  yeon-dong-6week/UMC-Movie/src/components/LoadingSpinner/LoadingSpinner.style.js
  yeon-dong-6week/UMC-Movie/src/components/MovieCard/MovieCard.jsx
  yeon-dong-6week/UMC-Movie/src/components/MovieCard/MovieCard.style.js
  yeon-dong-6week/UMC-Movie/src/index.css
  yeon-dong-6week/UMC-Movie/src/main.jsx
  yeon-dong-6week/UMC-Movie/src/pages/MainPage/MainPage.jsx
  yeon-dong-6week/UMC-Movie/src/pages/MainPage/MainPage.style.js
  yeon-dong-6week/UMC-Movie/src/pages/MovieDetailPage/MovieDetailPage.jsx
  yeon-dong-6week/UMC-Movie/src/pages/MovieDetailPage/MovieDetailPage.style.js
  yeon-dong-6week/UMC-Movie/src/pages/NotFoundPage/NotFoundPage.jsx
  yeon-dong-6week/UMC-Movie/src/pages/NotFoundPage/NotFoundPage.style.js
  yeon-dong-6week/UMC-Movie/src/pages/NowPlayingPage/NowPlayingPage.jsx
  yeon-dong-6week/UMC-Movie/src/pages/NowPlayingPage/NowPlayingPage.style.js
  yeon-dong-6week/UMC-Movie/src/pages/PopularPage/PopularPage.jsx
  yeon-dong-6week/UMC-Movie/src/pages/PopularPage/PopularPage.style.js
  yeon-dong-6week/UMC-Movie/src/pages/SignUpPage/SignUpPage.jsx
  yeon-dong-6week/UMC-Movie/src/pages/SignUpPage/SignUpPage.style.js
  yeon-dong-6week/UMC-Movie/src/pages/TopRatedPage/TopRatedPage.jsx
  yeon-dong-6week/UMC-Movie/src/pages/TopRatedPage/TopRatedPage.style.js
  yeon-dong-6week/UMC-Movie/src/pages/UpComingPage/UpComingPage.jsx
  yeon-dong-6week/UMC-Movie/src/pages/UpComingPage/UpComingPage.style.js
  yeon-dong-6week/UMC-Movie/src/reset.css
  yeon-dong-6week/UMC-Movie/vite.config.js
Labels: 6week

#35 Umi/6week
  .DS_Store
  umi-6week/.DS_Store
  umi-6week/TMDB-site/.eslintrc.cjs
  umi-6week/TMDB-site/.gitignore
  umi-6week/TMDB-site/README.md
  umi-6week/TMDB-site/index.html
  umi-6week/TMDB-site/package.json
  umi-6week/TMDB-site/pnpm-lock.yaml
  umi-6week/TMDB-site/src/App.css
  umi-6week/TMDB-site/src/App.jsx
  umi-6week/TMDB-site/src/assets/rolling.gif
  umi-6week/TMDB-site/src/assets/star.png
  umi-6week/TMDB-site/src/components/CreditData.jsx
  umi-6week/TMDB-site/src/components/CreditItem.jsx
  umi-6week/TMDB-site/src/components/Footer.jsx
  umi-6week/TMDB-site/src/components/Loading.jsx
  umi-6week/TMDB-site/src/components/Navbar.jsx
  umi-6week/TMDB-site/src/components/PosterItem.jsx
  umi-6week/TMDB-site/src/components/ScrollTop.jsx
  umi-6week/TMDB-site/src/components/SimilarData.jsx
  umi-6week/TMDB-site/src/components/TmdbData.jsx
  umi-6week/TMDB-site/src/hooks/useDebounce.jsx
  umi-6week/TMDB-site/src/index.css
  umi-6week/TMDB-site/src/main.jsx
  umi-6week/TMDB-site/src/pages/ErrorPage.jsx
  umi-6week/TMDB-site/src/pages/LogInPage.jsx
  umi-6week/TMDB-site/src/pages/MainPage.jsx
  umi-6week/TMDB-site/src/pages/MovieDetailPage.jsx
  umi-6week/TMDB-site/src/pages/NowPlayingPage.jsx
  umi-6week/TMDB-site/src/pages/PopularPage.jsx
  umi-6week/TMDB-site/src/pages/SignUpPage.jsx
  umi-6week/TMDB-site/src/pages/TopRatedPage.jsx
  umi-6week/TMDB-site/src/pages/UpComing.jsx
  umi-6week/TMDB-site/vite.config.js
Labels: 6week

#38 Ease/6week
  ease-6week/TMDBMovie/.eslintignore
  ease-6week/TMDBMovie/.eslintrc.cjs
  ease-6week/TMDBMovie/.gitignore
  ease-6week/TMDBMovie/README.md
  ease-6week/TMDBMovie/eslint.config.js
  ease-6week/TMDBMovie/index.html
  ease-6week/TMDBMovie/package-lock.json
  ease-6week/TMDBMovie/package.json
  ease-6week/TMDBMovie/src/App.css
  ease-6week/TMDBMovie/src/App.jsx
  ease-6week/TMDBMovie/src/assets/search.svg
  ease-6week/TMDBMovie/src/assets/star.png
  ease-6week/TMDBMovie/src/components/Credit.jsx
  ease-6week/TMDBMovie/src/components/Footer.jsx
  ease-6week/TMDBMovie/src/components/Loading.jsx
  ease-6week/TMDBMovie/src/components/Movie.jsx
  ease-6week/TMDBMovie/src/components/Navbar.jsx
  ease-6week/TMDBMovie/src/index.css
  ease-6week/TMDBMovie/src/main.jsx
  ease-6week/TMDBMovie/src/pages/MainPage.jsx
  ease-6week/TMDBMovie/src/pages/MovieDetailPage.jsx
  ease-6week/TMDBMovie/src/pages/NotFound.jsx
  ease-6week/TMDBMovie/src/pages/NowPlayingPage.jsx
  ease-6week/TMDBMovie/src/pages/PopularPage.jsx
  ease-6week/TMDBMovie/src/pages/Signup.jsx
  ease-6week/TMDBMovie/src/pages/TopRatedPage.jsx
  ease-6week/TMDBMovie/src/pages/UpComing.jsx
  ease-6week/TMDBMovie/vite.config.js
  package-lock.json
  package.json
Labels: 6week

#42 Umi/7week
  .DS_Store
  umi-7week/.DS_Store
  umi-7week/TMDB-site/.eslintrc.cjs
  umi-7week/TMDB-site/.gitignore
  umi-7week/TMDB-site/README.md
  umi-7week/TMDB-site/index.html
  umi-7week/TMDB-site/package.json
  umi-7week/TMDB-site/pnpm-lock.yaml
  umi-7week/TMDB-site/src/App.css
  umi-7week/TMDB-site/src/App.jsx
  umi-7week/TMDB-site/src/assets/rolling.gif
  umi-7week/TMDB-site/src/assets/rolling2.gif
  umi-7week/TMDB-site/src/assets/star.png
  umi-7week/TMDB-site/src/components/CreditData.jsx
  umi-7week/TMDB-site/src/components/CreditItem.jsx
  umi-7week/TMDB-site/src/components/Footer.jsx
  umi-7week/TMDB-site/src/components/Loading.jsx
  umi-7week/TMDB-site/src/components/Navbar.jsx
  umi-7week/TMDB-site/src/components/Pagination.jsx
  umi-7week/TMDB-site/src/components/PosterItem.jsx
  umi-7week/TMDB-site/src/components/ScrollTop.jsx
  umi-7week/TMDB-site/src/components/SimilarData.jsx
  umi-7week/TMDB-site/src/components/TmdbData.jsx
  umi-7week/TMDB-site/src/components/UserData.jsx
  umi-7week/TMDB-site/src/hooks/useDebounce.jsx
  umi-7week/TMDB-site/src/hooks/useFetch.jsx
  umi-7week/TMDB-site/src/index.css
  umi-7week/TMDB-site/src/main.jsx
  umi-7week/TMDB-site/src/pages/ErrorPage.jsx
  umi-7week/TMDB-site/src/pages/LogInPage.jsx
  umi-7week/TMDB-site/src/pages/MainPage.jsx
  umi-7week/TMDB-site/src/pages/MovieDetailPage.jsx
  umi-7week/TMDB-site/src/pages/NowPlayingPage.jsx
  umi-7week/TMDB-site/src/pages/PopularPage.jsx
  umi-7week/TMDB-site/src/pages/SignUpPage.jsx
  umi-7week/TMDB-site/src/pages/TopRatedPage.jsx
  umi-7week/TMDB-site/src/pages/UpComing.jsx
  umi-7week/TMDB-site/vite.config.js
Labels: 7 week
