Repository SSUMC-6th/WEB_A, pull requests merged in 2024-06, with the labels that each got.

#43 Ease/7week
  ease-7week/TMDBMovie/.eslintignore
  ease-7week/TMDBMovie/.eslintrc.cjs
  ease-7week/TMDBMovie/.gitignore
  ease-7week/TMDBMovie/README.md
  ease-7week/TMDBMovie/eslint.config.js
  ease-7week/TMDBMovie/index.html
  ease-7week/TMDBMovie/package-lock.json
  ease-7week/TMDBMovie/package.json
  ease-7week/TMDBMovie/src/App.css
  ease-7week/TMDBMovie/src/App.jsx
  ease-7week/TMDBMovie/src/assets/search.svg
  ease-7week/TMDBMovie/src/assets/star.png
  ease-7week/TMDBMovie/src/components/Credit.jsx
  ease-7week/TMDBMovie/src/components/Footer.jsx
  ease-7week/TMDBMovie/src/components/Loading.jsx
  ease-7week/TMDBMovie/src/components/Movie.jsx
  ease-7week/TMDBMovie/src/components/Navbar.jsx
  ease-7week/TMDBMovie/src/index.css
  ease-7week/TMDBMovie/src/main.jsx
  ease-7week/TMDBMovie/src/pages/Login.jsx
  ease-7week/TMDBMovie/src/pages/MainPage.jsx
  ease-7week/TMDBMovie/src/pages/MovieDetailPage.jsx
  ease-7week/TMDBMovie/src/pages/NotFound.jsx
  ease-7week/TMDBMovie/src/pages/NowPlayingPage.jsx
  ease-7week/TMDBMovie/src/pages/PopularPage.jsx
  ease-7week/TMDBMovie/src/pages/Signup.jsx
  ease-7week/TMDBMovie/src/pages/TopRatedPage.jsx
  ease-7week/TMDBMovie/src/pages/UpComing.jsx
  ease-7week/TMDBMovie/vite.config.js
Labels: 7 week

#40 Ssol/7week
  7week/.DS_Store
  7week/movie/.eslintrc.cjs
  7week/movie/.gitignore
  7week/movie/README.md
  7week/movie/index.html
  7week/movie/package.json
  7week/movie/pnpm-lock.yaml
  7week/movie/public/vite.svg
  7week/movie/src/App.css
  7week/movie/src/App.jsx
  7week/movie/src/apis/GetUserInfo.js
  7week/movie/src/apis/PostLogin.js
  7week/movie/src/assets/react.svg
  7week/movie/src/components/ footer/footer.jsx
  7week/movie/src/components/ footer/footer.style.js
  7week/movie/src/components/LoadingSpinner/LoadingSpinner.jsx
  7week/movie/src/components/LoadingSpinner/LoadingSpinner.style.js
  7week/movie/src/components/MovieData/MovieDataFetcher.jsx
  7week/movie/src/components/MovieData/MovieDataFetcher.style.js
  7week/movie/src/components/Search/Search.jsx
  7week/movie/src/components/Search/Search.style.js
  7week/movie/src/components/UserData/UsetData.jsx
  7week/movie/src/components/banner/banner.jsx
  7week/movie/src/components/banner/banner.style.js
  7week/movie/src/components/nav/nav.jsx
  7week/movie/src/components/nav/nav.style.js
  7week/movie/src/components/notfound/notFound.jsx
  7week/movie/src/components/notfound/notFound.style.js
  7week/movie/src/hooks/useDebounce.js
  7week/movie/src/index.css
  7week/movie/src/main.jsx
  7week/movie/src/pages/LoginPage/Login.jsx
  7week/movie/src/pages/LoginPage/Login.style.js
  7week/movie/src/pages/MainPage/MainPage.jsx
  7week/movie/src/pages/MainPage/MainPage.style.js
  7week/movie/src/pages/Moviedetail/MovieDetail.jsx
  7week/movie/src/pages/Moviedetail/MovieDetail.style.js
  7week/movie/src/pages/NowPlayingPage/NowPlayingPage.jsx
  7week/movie/src/pages/NowPlayingPage/NowPlayingPage.style.js
  7week/movie/src/pages/PopularPage/Pagenation.jsx
  7week/movie/src/pages/PopularPage/Pagenation.style.js
  7week/movie/src/pages/PopularPage/PopularPage.jsx
  7week/movie/src/pages/PopularPage/PopularPage.style.js
  7week/movie/src/pages/SignUpPage/SignUp.jsx
  7week/movie/src/pages/SignUpPage/SignUp.style.js
  7week/movie/src/pages/SignUpPage/apis/PostSignUp.js
  7week/movie/src/pages/TopRatedPage/TopRatedPage.jsx
  7week/movie/src/pages/TopRatedPage/TopRatedPage.style.js
  7week/movie/src/pages/UpComing/UpComing.jsx
  7week/movie/src/pages/UpComing/UpComing.style.js
  7week/movie/src/styles/GlobalStyle.js
  7week/movie/vite.config.js
Labels: 7 week

#47 Umi/8week
  umi-8week/.DS_Store
  umi-8week/TMDB-site/.eslintrc.cjs
  umi-8week/TMDB-site/.gitignore
  umi-8week/TMDB-site/README.md
  umi-8week/TMDB-site/index.html
  umi-8week/TMDB-site/package.json
  umi-8week/TMDB-site/pnpm-lock.yaml
  umi-8week/TMDB-site/src/App.css
  umi-8week/TMDB-site/src/App.jsx
  umi-8week/TMDB-site/src/assets/rolling.gif
  umi-8week/TMDB-site/src/assets/rolling2.gif
  umi-8week/TMDB-site/src/assets/star.png
  umi-8week/TMDB-site/src/components/CreditData.jsx
  umi-8week/TMDB-site/src/components/CreditItem.jsx
  umi-8week/TMDB-site/src/components/Footer.jsx
  umi-8week/TMDB-site/src/components/Loading.jsx
  umi-8week/TMDB-site/src/components/Navbar.jsx
  umi-8week/TMDB-site/src/components/Pagination.jsx
  umi-8week/TMDB-site/src/components/PosterItem.jsx
  umi-8week/TMDB-site/src/components/ScrollTop.jsx
  umi-8week/TMDB-site/src/components/SimilarData.jsx
  umi-8week/TMDB-site/src/components/TmdbData.jsx
  umi-8week/TMDB-site/src/components/UserData.jsx
  umi-8week/TMDB-site/src/hooks/useDebounce.jsx
  umi-8week/TMDB-site/src/hooks/useFetch.jsx
  umi-8week/TMDB-site/src/index.css
  umi-8week/TMDB-site/src/main.jsx
  umi-8week/TMDB-site/src/pages/ErrorPage.jsx
  umi-8week/TMDB-site/src/pages/LogInPage.jsx
  umi-8week/TMDB-site/src/pages/MainPage.jsx
  umi-8week/TMDB-site/src/pages/MovieDetailPage.jsx
  umi-8week/TMDB-site/src/pages/NowPlayingPage.jsx
  umi-8week/TMDB-site/src/pages/PopularPage.jsx
  umi-8week/TMDB-site/src/pages/SignUpPage.jsx
  umi-8week/TMDB-site/src/pages/TopRatedPage.jsx
  umi-8week/TMDB-site/src/pages/UpComing.jsx
  umi-8week/TMDB-site/vite.config.js
Labels: 8 week

#50 Ssol/9week
  9week/Playlist/.eslintrc.cjs
  9week/Playlist/.gitignore
  9week/Playlist/README.md
  9week/Playlist/index.html
  9week/Playlist/package.json
  9week/Playlist/pnpm-lock.yaml
  9week/Playlist/src/App.css
  9week/Playlist/src/App.jsx
  9week/Playlist/src/Globalstyle.js
  9week/Playlist/src/components/album/albumItem.jsx
  9week/Playlist/src/components/album/albumItem.style.js
  9week/Playlist/src/components/album/albumList.jsx
  9week/Playlist/src/components/album/albumList.style.js
  9week/Playlist/src/components/header/head.jsx
  9week/Playlist/src/components/header/head.style.js
  9week/Playlist/src/components/modal/modal.jsx
  9week/Playlist/src/components/modal/modal.style.js
  9week/Playlist/src/components/total/total.jsx
  9week/Playlist/src/components/total/total.style.js
  9week/Playlist/src/constants/cartItems.js
  9week/Playlist/src/constants/icons.jsx
  9week/Playlist/src/index.css
  9week/Playlist/src/main.jsx
  9week/Playlist/src/redux/cartSlice.js
  9week/Playlist/src/redux/modalSlice.js
  9week/Playlist/src/redux/store.js
  9week/Playlist/vite.config.js
Labels: 9 week

#51 Umi/9week
  .DS_Store
  umi-9week/.DS_Store
  umi-9week/UMC-playlist/.eslintrc.cjs
  umi-9week/UMC-playlist/.gitignore
  umi-9week/UMC-playlist/README.md
  umi-9week/UMC-playlist/index.html
  umi-9week/UMC-playlist/package.json
  umi-9week/UMC-playlist/pnpm-lock.yaml
  umi-9week/UMC-playlist/public/vite.svg
  umi-9week/UMC-playlist/src/App.css
  umi-9week/UMC-playlist/src/App.jsx
  umi-9week/UMC-playlist/src/assets/react.svg
  umi-9week/UMC-playlist/src/components/NavBar.jsx
  umi-9week/UMC-playlist/src/components/PlayList.jsx
  umi-9week/UMC-playlist/src/components/PlayListItem.jsx
  umi-9week/UMC-playlist/src/constants/cartItems.jsx
  umi-9week/UMC-playlist/src/constants/icon.jsx
  umi-9week/UMC-playlist/src/index.css
  umi-9week/UMC-playlist/src/main.jsx
  umi-9week/UMC-playlist/src/redux/cartSlice.jsx
  umi-9week/UMC-playlist/src/redux/store.jsx
  umi-9week/UMC-playlist/vite.config.js
Labels: 9 week

#58 Umi/10week
  .DS_Store
  umi-10week/.DS_Store
  umi-10week/UMC-playlist/.eslintrc.cjs
  umi-10week/UMC-playlist/.gitignore
  umi-10week/UMC-playlist/README.md
  umi-10week/UMC-playlist/index.html
  umi-10week/UMC-playlist/package.json
  umi-10week/UMC-playlist/pnpm-lock.yaml
  umi-10week/UMC-playlist/public/vite.svg
  umi-10week/UMC-playlist/src/App.css
  umi-10week/UMC-playlist/src/App.jsx
  umi-10week/UMC-playlist/src/assets/rolling2.gif
  umi-10week/UMC-playlist/src/components/NavBar.jsx
  umi-10week/UMC-playlist/src/components/PlayList.jsx
  umi-10week/UMC-playlist/src/components/PlayListItem.jsx
  umi-10week/UMC-playlist/src/constants/cartItems.jsx
  umi-10week/UMC-playlist/src/constants/fetchCartItems.jsx
  umi-10week/UMC-playlist/src/constants/icon.jsx
  umi-10week/UMC-playlist/src/index.css
  umi-10week/UMC-playlist/src/main.jsx
  umi-10week/UMC-playlist/src/pages/MainPage.jsx
  umi-10week/UMC-playlist/src/redux/cartSlice.jsx
  umi-10week/UMC-playlist/src/redux/store.jsx
  umi-10week/UMC-playlist/vite.config.js
Labels: 10 week

#57 ease/10week
  ease-10week/UMCPlaylist/.eslintrc.cjs
  ease-10week/UMCPlaylist/.gitignore
  ease-10week/UMCPlaylist/README.md
  ease-10week/UMCPlaylist/index.html
  ease-10week/UMCPlaylist/package-lock.json
  ease-10week/UMCPlaylist/package.json
  ease-10week/UMCPlaylist/public/vite.svg
  ease-10week/UMCPlaylist/src/App.css
  ease-10week/UMCPlaylist/src/App.jsx
  ease-10week/UMCPlaylist/src/assets/react.svg
  ease-10week/UMCPlaylist/src/components/CartContainer.jsx
  ease-10week/UMCPlaylist/src/components/CartItem.jsx
  ease-10week/UMCPlaylist/src/components/Header.jsx
  ease-10week/UMCPlaylist/src/constants/fetchCartItems.jsx
  ease-10week/UMCPlaylist/src/constants/icons.jsx
  ease-10week/UMCPlaylist/src/index.css
  ease-10week/UMCPlaylist/src/main.jsx
  ease-10week/UMCPlaylist/src/redux/asyncSlice.jsx
  ease-10week/UMCPlaylist/src/redux/cartSlice.jsx
  ease-10week/UMCPlaylist/src/redux/store.jsx
  ease-10week/UMCPlaylist/vite.config.js
Labels: 10 week

#55 Ssol/10week
  10week/Playlist/.eslintrc.cjs
  10week/Playlist/.gitignore
  10week/Playlist/README.md
  10week/Playlist/index.html
  10week/Playlist/package.json
  10week/Playlist/pnpm-lock.yaml
  10week/Playlist/src/App.css
  10week/Playlist/src/App.jsx
  10week/Playlist/src/Globalstyle.js
  10week/Playlist/src/apis/getMusic.js
  10week/Playlist/src/components/album/albumItem.jsx
  10week/Playlist/src/components/album/albumItem.style.js
  10week/Playlist/src/components/album/albumList.jsx
  10week/Playlist/src/components/album/albumList.style.js
  10week/Playlist/src/components/header/head.jsx
  10week/Playlist/src/components/header/head.style.js
  10week/Playlist/src/components/modal/modal.jsx
  10week/Playlist/src/components/modal/modal.style.js
  10week/Playlist/src/components/total/total.jsx
  10week/Playlist/src/components/total/total.style.js
  10week/Playlist/src/constants/cartItems.js
  10week/Playlist/src/constants/icons.jsx
  10week/Playlist/src/index.css
  10week/Playlist/src/main.jsx
  10week/Playlist/src/redux/cartSlice.js
  10week/Playlist/src/redux/modalSlice.js
  10week/Playlist/src/redux/store.js
  10week/Playlist/vite.config.js
Labels: 10 week
